<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowMembersToFlag>false</allowMembersToFlag>
    <branding>
        <loginFooterText>meralco.com.ph</loginFooterText>
        <loginLogo>Communities_Shared_Document_Folder1/Meralco_Logo_250x150_png.png</loginLogo>
        <primaryColor>#EB4600</primaryColor>
        <primaryComplementColor>#FFFFFF</primaryComplementColor>
        <quaternaryColor>#EFEFEF</quaternaryColor>
        <quaternaryComplementColor>#222222</quaternaryComplementColor>
        <secondaryColor>#EB4600</secondaryColor>
        <tertiaryColor>#FFFFFF</tertiaryColor>
        <tertiaryComplementColor>#222222</tertiaryComplementColor>
        <zeronaryColor>#FFFFFF</zeronaryColor>
        <zeronaryComplementColor>#222222</zeronaryComplementColor>
    </branding>
    <caseCommentEmailTemplate>Default_Email_templates/SUPPORTSelfServiceNewCommentNotificationSAMPLE</caseCommentEmailTemplate>
    <changePasswordTemplate>R2B_Portal_Emails/CXE_Forgot_Password_BIZ</changePasswordTemplate>
    <emailSenderAddress>donotreply@meralco.com.ph</emailSenderAddress>
    <emailSenderName>Meralco Customer Community</emailSenderName>
    <enableGuestChatter>false</enableGuestChatter>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableSiteAsContainer>true</enableSiteAsContainer>
    <forgotPasswordTemplate>R2B_Portal_Emails/CXE_Forgot_Password_BIZ</forgotPasswordTemplate>
    <logoutUrl>https://uat-meralco.cs58.force.com/customers/s/splash</logoutUrl>
    <navigationLinkSet>
        <navigationMenuItem>
            <label>Overview</label>
            <position>1</position>
            <publiclyAvailable>false</publiclyAvailable>
            <target>/dashboard</target>
            <type>InternalLink</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Accounts</label>
            <position>2</position>
            <publiclyAvailable>false</publiclyAvailable>
            <target>/myaccounts</target>
            <type>InternalLink</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Bills &amp; Payments</label>
            <position>3</position>
            <publiclyAvailable>false</publiclyAvailable>
            <subMenu>
                <navigationMenuItem>
                    <label>Bills Summary</label>
                    <position>0</position>
                    <publiclyAvailable>true</publiclyAvailable>
                    <target>/mybills</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>Pay Bills</label>
                    <position>1</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>/paybills</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>Consumption Report</label>
                    <position>2</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>/consumptionreport</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>Payment History</label>
                    <position>3</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>/paymenthistory</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
            </subMenu>
            <type>MenuLabel</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Requests</label>
            <position>4</position>
            <publiclyAvailable>false</publiclyAvailable>
            <target>/trackapp</target>
            <type>InternalLink</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>FAQs</label>
            <position>5</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>/topiccatalog</target>
            <type>InternalLink</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Log Out</label>
            <position>6</position>
            <publiclyAvailable>false</publiclyAvailable>
            <target>https://uat-meralco.cs58.force.com/customers/secur/logout.jsp</target>
            <targetPreference>OpenExternalLinkInSameTab</targetPreference>
            <type>ExternalLink</type>
        </navigationMenuItem>
    </navigationLinkSet>
    <networkMemberGroups>
        <profile>Admin</profile>
        <profile>CBG TS Head SA Meralco</profile>
        <profile>Zone Head SA Meralco</profile>
        <profile>TS Team Leader SA Meralco</profile>
        <profile>TS Engineer SA Meralco</profile>
        <profile>RMTS Team Leader SA Meralco</profile>
        <profile>HMB Head SA Meralco</profile>
        <profile>Customer Community Login User</profile>
        <profile>BC Head SA Meralco</profile>
        <profile>BP Manager SA Meralco</profile>
        <profile>BPG Area Head SA Meralco</profile>
        <profile>BPG Head SA Meralco</profile>
        <profile>CBG Head SA Meralco</profile>
        <profile>MarketingProfile</profile>
        <profile>CRS Head SA Meralco</profile>
        <profile>CS Representative SA Meralco</profile>
        <profile>Customer Community Login User SA</profile>
        <profile>Customer Community User - SA Meralco</profile>
        <profile>Customer Community User</profile>
        <profile>Customer Community Plus User</profile>
        <profile>MERALCO Customer Portal</profile>
        <profile>MERALCO Customer Portal Login</profile>
        <profile>Conglomerate Portal User</profile>
    </networkMemberGroups>
    <picassoSite>Meralco_Customer_Community1</picassoSite>
    <selfRegProfile>meralco customer portal</selfRegProfile>
    <selfRegistration>true</selfRegistration>
    <sendWelcomeEmail>false</sendWelcomeEmail>
    <site>Meralco_Customer_Community</site>
    <status>Live</status>
    <tabs>
        <defaultTab>home</defaultTab>
        <standardTab>home</standardTab>
        <standardTab>Contact</standardTab>
        <standardTab>Account</standardTab>
        <standardTab>Case</standardTab>
        <standardTab>report</standardTab>
        <standardTab>Dashboard</standardTab>
        <standardTab>CollaborationGroup</standardTab>
        <standardTab>Chatter</standardTab>
        <standardTab>UserProfile</standardTab>
    </tabs>
    <urlPathPrefix>customers</urlPathPrefix>
    <welcomeTemplate>R2B_Portal_Emails/CXE_Email_Verification</welcomeTemplate>
</Network>
