@media print {
    .THIS {
        visibility: hidden;
    }
    .THIS #section-to-print{
        visibility: visible;
    }
    .THIS #section-to-print {
        position: absolute;
        left: 0;
        top: 0;
        width:100%;
    }
}