.THIS .CXE_inlineIcon {
    padding: 0;
    width: 20px;
    height: 20px;
    border: 0;
    line-height: 0;
    background-color: transparent;
}

.THIS .CXE_inlineIcon > span {
    display: none !important;
}